#controls-bar {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: row;
    height: 40px;
    background-color: rgb(230, 230, 230);
}

.btn,
.btn-disabled,
.btn-cancel,
.btn-active {
    display: inline-block;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    outline: none;
    height: 30px;
    width: 30px;
    background-size: 100%;
}

#btn-forward {
    background-image: url('img/goForward.png');
}

.btn-disabled#btn-forward {
    background-image: url('img/goForward_disabled.png');
}

#btn-back {
    background-image: url('img/goBack.png');
}

.btn-disabled#btn-back {
    background-image: url('img/goBack_disabled.png');
}

#btn-reload {
    background-image: url('img/reload.png');
}

.btn-cancel#btn-reload {
    background-image: url('img/cancel.png');
}

#btn-options {
    background-image: url('img/options.png');
}

#btn-connect {
    background-image: url('img/connect.png');
}

#btn-del {
    background-image: url('img/delete.png');
}

#btn-saveprg {
    background-image: url('img/saveprg.png');
}

#btn-saveconf {
    background-image: url('img/saveconf.png');
}

#btn-sendprg {
    background-image: url('img/sendprg.png');
}

#btn-switcher {
    width: 60px;
    border-radius: 30px;
}

#btn-switcher:hover {
    background: none !important;
}

.controls-group {
    display: inline-block;
    height: 40px;
}

#nav-controls-container {
    align-self: flex-start;
    padding-left: 10px;
}

#manage-controls-container {
    align-self: flex-end;
    padding-right: 10px;
}

.btn:hover,
.btn-cancel:hover,
.btn-active {
    background-color: rgb(200, 200, 200);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    top: -5px;
    margin-left: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}